@font-face {
  font-family: 'quicksand';
  src: url('police/Quicksand_Bold.otf');
}

@font-face {
  font-family: 'gagalin';
  src: url('police/Gagalin-Regular.otf');
}

@font-face {
  font-family: 'jaapokki';
  src: url('police/Jaapokki-Regular.otf');
}

header {
background-color: #7B608D;
display: flex;
flex-direction: row;
justify-content:space-evenly;
}

#separateur{
border-left: 4px solid white;
height: 90%;
}

#droiteBandeau{
width: 100%;
margin-left: 10px;
margin-right: 10px;
}

#contact{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 10px;
  margin-right: 10px;
}
.photo{
  display: flex;
  align-items: center;
  border-radius: 30%;
  height: 70px;
  width: 70;
  margin-left: 10px;
  margin-right: 10px;
}
h1 a{
font-family: 'jaapokki';
font-size: 80px;
color: white;
margin-left: 30px;
white-space: nowrap;
text-decoration: none;
}

:root{
--hauteur-menu: 40px;
}
* {
margin: 0px;
padding: 0px;
font-family: quicksand;
}
nav {
width: 100%;
font-size: 18px;
position: sticky;
top: 0;
z-index: 1000;
white-space: nowrap;
}

nav > ul {
display: flex;
text-align: center;
box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
height: var(--hauteur-menu);
}

nav ul {
list-style-type: none;
}

nav > ul > li {
background-color: white;
position: relative;
height: 100%;
flex: 1;
list-style-type: none;
}

nav > ul > li > a {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

li a {
text-decoration: none;
color: black;
}

.menu-deroulant > a:after{
content: 'â¯';
font-size: 15px;
margin-left: 7px;
display: inline-block;
}

.sous-menu {
margin-top: var(--hauteur-menu);
width: 100%;
text-align: left;
background-color: white;
border-radius: 2px;
overflow: hidden;
max-height: 0;
}

.sous-menu > li > a {
height: 50px;
padding-left: 20px;
width: 100%;
align-items: center;
display: flex;
}

nav > ul > li:hover > a{
color: #5D486E;
}

.sous-menu > li:hover {
background-color: #5D486E;
}

.sous-menu > li:hover > a {
color: white;
}

@keyframes rotationFleche {
0% {
  transform: rotate(0deg);
}
100%{
  transform: rotate(90deg);
}
}

.menu-deroulant:hover > a:after{
animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
0% {
  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
  border-top: 3px solid #8A2BE2;
}
30% {
  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
}
100% {
  max-height: 50em;
  border-top: 3px solid #8A2BE2;
  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
}
}

.menu-deroulant:hover > .sous-menu {
animation: apparitionSousMenu 1s forwards;
}

.frameCarte{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  margin-top: 30px;
}
#map {
  height: 520px; 
  width: 70vw;
  display: block;
 }

 .droite{
   display: flex;
   flex-direction: column;

 }

 .droite img{
  height: 470px;
   width: auto;
 }
 
.boutonMap {
  font-family: "quicksand", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  height: 10%;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.boutonMap:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .boutonMap {
    padding: 0.25em 0.75em;
  }
}